<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kpi.mapper.KpiExcellentPaperChaiMapper">
    
    <resultMap type="KpiExcellentPaperChai" id="KpiExcellentPaperChaiResult">
        <result property="excellentPaperChairId"    column="excellent_paper_chair_id"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="teacherAvatar"    column="teacher_avatar"    />
        <result property="teacherTel"    column="teacher_tel"    />
        <result property="excellentPaperChaiName"    column="excellent_paper_chai_name"    />
        <result property="approvingUnit"    column="approving_unit"    />
        <result property="approvingTime"    column="approving_time"    />
        <result property="ranking"    column="ranking"    />
        <result property="magnitudeId"    column="magnitude_id"    />
        <result property="magnitudeName"    column="magnitude_name"    />
        <result property="projectScore"    column="project_score"    />
        <result property="kpiYear"    column="kpi_year"    />
        <result property="auditState"    column="audit_state"    />
        <result property="rejectCause"    column="reject_cause"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectKpiExcellentPaperChaiVo">
        select excellent_paper_chair_id, teacher_id,excellent_paper_chai_name, approving_unit, approving_time, ranking, magnitude_id, project_score, kpi_year, audit_state, reject_cause, create_by, create_time, update_by, update_time, remark from kpi_excellent_paper_chai
    </sql>

    <sql id="selectKpiIntellectualVoNew">
        select t.*,tea.teacher_name,tea.teacher_tel,tea.teacher_avatar,m.magnitude_name from kpi_excellent_paper_chai t
        left join kpi_teacher tea on tea.teacher_id=t.teacher_id left JOIN kpi_magnitude m on t.magnitude_id=m.magnitude_id
    </sql>

    <select id="selectKpiExcellentPaperChaiList" parameterType="KpiExcellentPaperChai" resultMap="KpiExcellentPaperChaiResult">
        <include refid="selectKpiIntellectualVoNew"/>
        <where>
            <if test="teacherId != null "> and t.teacher_id = #{teacherId}</if>
            <if test="excellentPaperChaiName != null  and excellentPaperChaiName != ''"> and t.excellent_paper_chai_name like concat('%', #{excellentPaperChaiName}, '%')</if>
            <if test="approvingUnit != null  and approvingUnit != ''"> and t.approving_unit like concat('%', #{approvingUnit}, '%')</if>
            <if test="approvingTime != null "> and t.approving_time = #{approvingTime}</if>
            <if test="magnitudeId != null "> and t.magnitude_id = #{magnitudeId}</if>
            <if test="kpiYear != null  and kpiYear != ''"> and t.kpi_year = #{kpiYear}</if>
            <if test="auditState != null  and auditState != ''"> and t.audit_state = #{auditState}</if>
        </where>
    </select>
    
    <select id="selectKpiExcellentPaperChaiByExcellentPaperChairId" parameterType="Long" resultMap="KpiExcellentPaperChaiResult">
        <include refid="selectKpiExcellentPaperChaiVo"/>
        where excellent_paper_chair_id = #{excellentPaperChairId}
    </select>

    <select id="selectKpiExcellentPaperChaiListProjectScoreDesc"  resultMap="KpiExcellentPaperChaiResult">
        <include refid="selectKpiExcellentPaperChaiVo"/>
        where audit_state='1' order by project_score desc
    </select>
        
    <insert id="insertKpiExcellentPaperChai" parameterType="KpiExcellentPaperChai" useGeneratedKeys="true" keyProperty="excellentPaperChairId">
        insert into kpi_excellent_paper_chai
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">teacher_id,</if>
            <if test="excellentPaperChaiName != null and excellentPaperChaiName != ''">excellent_paper_chai_name,</if>
            <if test="approvingUnit != null and approvingUnit != ''">approving_unit,</if>
            <if test="approvingTime != null">approving_time,</if>
            <if test="ranking != null">ranking,</if>
            <if test="magnitudeId != null">magnitude_id,</if>
            <if test="projectScore != null">project_score,</if>
            <if test="kpiYear != null and kpiYear != ''">kpi_year,</if>
            <if test="auditState != null">audit_state,</if>
            <if test="rejectCause != null">reject_cause,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">#{teacherId},</if>
            <if test="excellentPaperChaiName != null and excellentPaperChaiName != ''">#{excellentPaperChaiName},</if>
            <if test="approvingUnit != null and approvingUnit != ''">#{approvingUnit},</if>
            <if test="approvingTime != null">#{approvingTime},</if>
            <if test="ranking != null">#{ranking},</if>
            <if test="magnitudeId != null">#{magnitudeId},</if>
            <if test="projectScore != null">#{projectScore},</if>
            <if test="kpiYear != null and kpiYear != ''">#{kpiYear},</if>
            <if test="auditState != null">#{auditState},</if>
            <if test="rejectCause != null">#{rejectCause},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateKpiExcellentPaperChai" parameterType="KpiExcellentPaperChai">
        update kpi_excellent_paper_chai
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="excellentPaperChaiName != null and excellentPaperChaiName != ''">excellent_paper_chai_name = #{excellentPaperChaiName},</if>
            <if test="approvingUnit != null and approvingUnit != ''">approving_unit = #{approvingUnit},</if>
            <if test="approvingTime != null">approving_time = #{approvingTime},</if>
            <if test="ranking != null">ranking = #{ranking},</if>
            <if test="magnitudeId != null">magnitude_id = #{magnitudeId},</if>
            <if test="projectScore != null">project_score = #{projectScore},</if>
            <if test="kpiYear != null and kpiYear != ''">kpi_year = #{kpiYear},</if>
            <if test="auditState != null">audit_state = #{auditState},</if>
            <if test="rejectCause != null">reject_cause = #{rejectCause},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where excellent_paper_chair_id = #{excellentPaperChairId}
    </update>

    <delete id="deleteKpiExcellentPaperChaiByExcellentPaperChairId" parameterType="Long">
        delete from kpi_excellent_paper_chai where excellent_paper_chair_id = #{excellentPaperChairId}
    </delete>

    <delete id="deleteKpiExcellentPaperChaiByExcellentPaperChairIds" parameterType="String">
        delete from kpi_excellent_paper_chai where excellent_paper_chair_id in 
        <foreach item="excellentPaperChairId" collection="array" open="(" separator="," close=")">
            #{excellentPaperChairId}
        </foreach>
    </delete>
</mapper>